<h1>Editing Partnering Organization</h1>

<%= render 'form', partnering_organization: @partnering_organization %>

<%= link_to 'Show', @partnering_organization %> |
<%= link_to 'Back', partnering_organizations_path %>
