// Place all the styles related to the PartneringOrganizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-resource-button {
  margin-left: 40px;
  margin-bottom: 30px;
}
