// Place all the styles related to the PartneringOrganizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .po_profile {
//   color
// }
.po_profile {
  color: red;
  text-align: center;
}
.partnering_organization_email {
  color: green;
  text-align: left;
}
.po_role {
  color: green;
  text-align: left;
}

.resources_list {
  color: green;
  text-align: left;
}
