li {
  list-style-type: none;
}
.container {
  padding-top: 30px;
}
.container-header, #filters {
  -webkit-margin-start: 40px;
}
ul {
  padding-right: 40px;
}
a, a:hover, a:active, a:visited{
  color: transparent;
  background-color: transparent;
}
#resource-list {
  margin-top: 10px;
}
